.contenedorTotal {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    margin-right: 95px;
    margin-top: 30px;
    border-top: 1px solid #e6e6e6;
    padding-top: 30px;
}

.totalCarrito {
    margin-right: 150px;
}

.btnVaciar {
    background-color: white;
    border: none;
    color: blue;
    cursor: pointer;
    margin-left: 1080px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.carritoVacio {
    text-align: center;
    margin-top: 100px;
    color: #bbacac;
}

#ventanaConfirmacion {
    margin-top: -250px;
    width: 100%;
    backdrop-filter: blur(7px);
    padding-top: 250px;
    padding-bottom: 300px;
    position: absolute;
    z-index: 3;
    display: none;
}

.confirmacion {
    margin: auto;
    text-align: center;
    background-color: rgb(216, 200, 200);
    width: 30%;
    height: 150px;
    border-radius: 15px;
}

.mensajeConfirmar {
    padding-top: 40px;
}

.btnVentanaConfirmar {
    background-color: #E57723; 
    border: none;
    color: black;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    margin : 15px;
    margin-top: 25px;
}

.btnVentanaConfirmar:hover {
    filter: drop-shadow(1px 3px 6px rgba(0,0,0,1));
    cursor: pointer;
}

.btnComprar {
    margin-left: 1250px;
    margin-top: -10px;
    margin-bottom: 50px;
    background-color: #E57723; 
    border: none;
    color: black;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.btnComprar:hover {
    filter: drop-shadow(1px 3px 6px rgba(0,0,0,1));
    cursor: pointer;
}
