header {
    background-color: #E57723;
    display: flex;
    justify-content: space-between;
    height: 75px;
}

.logo {
    height: 150px;
    margin: 10px 0 0 20px;
    filter: drop-shadow(0 2px 5px rgba(0,0,0,0.7))
}

.logo:hover {
    filter: drop-shadow(1px 3px 6px rgba(0,0,0,1));
    cursor: pointer;
}

nav {
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 20px 100px auto 0;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
}

.seccionesNavegador {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;

}

.seccionesNavegador:hover {
    cursor: pointer;
}

.imagenCarrito {
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

.cantidadCarrito {
    font-size: medium;
    color: #E57723;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 23px;
    margin-right: 49px;
}