.form {
    display: flex;
	justify-content: center;
	width: 1000px;
	margin-left: 220px; 
    margin-top: 50px;
}


.botonBuscar {
    width: 200px;
    height: 50px;
    margin-top: 3px;
    margin-left: 20px;
    margin-right: auto;
    background-color: #E57723; 
    border: none;
    color: black;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.botonBuscar:hover {
    filter: drop-shadow(1px 3px 6px rgba(0,0,0,1));
    cursor: pointer;
}

.buscarVacio {
    grid-column-start: 0;
    grid-column-end: 3;
    margin-top: 70px;
    color: #bbacac;
}
